.container{
    padding: 50px;
}

.grid-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.service-card a{
    position: relative;
}

.service-card a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
    transform: skew(-0.08turn) translateX(-100%);
    overflow: hidden;
    opacity: 0;
}
.service-card a{
    overflow: hidden;
}
.service-card a:is(:hover, :focus-within)::after{
    opacity: 1;
    transform: skew(-0.08turn) translate(295%);
    transition: var(--transition-3);
    overflow: hidden;
}

.card-banner img {
    margin-inline: auto;
    width: 100%;
    max-width: 280px;
    height: 436px;
}

.bg-black-10{
    background-color: var(--smoky-black-1);
}

.img-holder{
    aspect-ratio: var(--width) / var(--height);
    overflow: hidden;
    background-color: var(--eerie-black-4);
}

.btn-text{
    color: var(--gold-crayola);
    margin-block-end: 4px;
    margin-inline: auto;
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-3);
    font-weight: var(--weight-bold);
    transition: var(--transition-1);
}

.btn-text:is(:hover, :focus-visible){
    color: var(--white);
}

.shape{
    display: none;
    position: absolute;
    max-width: max-content;
    z-index: -1;
}

.service .section-title{
    margin-block-end: 16px;
}

.service .service-text{
    margin-block-end: 40px;
}

.service-card{
    overflow: hidden;
}

.service-card .has-before{
    padding-block: 30px;
    margin-block-end: 26px;
    z-index: 1;
    margin-inline: center;
}

.service-card .has-before::before{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 100%;
    background-image: url('../../assets/images/img-pattern.svg');
    background-position: center;
    background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    transition: var(--transition-2);
    transition-delay: 0;
    z-index: -1;
    will-change: transform;
}

.service-card:is(:hover, :focus-within) .has-before::before{
    transform: rotateY(0.5turn) translate(50%);
    transition-delay: 300ms;
}

.service-card .card-banner{
    transition: var(--transition-2);
}

.service-card:is(:hover, :focus-within) .card-banner{
    transform: scale(1.05);
}

.service .card-title{
    margin-block-end: 12px;
}