main{
    height: 100vh;
}

.img-cover{
    width: 99.5vw;
    height: 100%;
    object-fit: cover;
}

.section-subtitle{
    position: relative;
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-2);
    color: var(--gold-crayola);
}

.section-subtitle::after{
    content: url('../../assets/images/separator.svg');
    display: block;
    width: 100px;
    margin-inline: auto;
    margin-block-start: 5px;
}

.view-link{
    position: relative;
    color: var(--gold-crayola);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-5);
    max-width: max-content;
    border: 2px solid var(--gold-crayola);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
}

.view-link::before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border: var(--radius-circle);
    background-color: var(--gold-crayola);
    transition: var(--transition-2);
    z-index: -1;
}

.view-link .text{
    transition: var(--transition-1);
}

.view-link .text-2{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: max-content;
    color: var(--smoky-black-1);
}

.view-link:is(:hover, :focus-visible)::before{
    bottom: -50%;
}


.view-link:is(:hover, :focus-visible) .text-1{
    transform: translateY(-40px);
}

.view-link:is(:hover, :focus-visible) .text-2{
    top: 50%;
    transform: translate(-50%, -50%);
}
.hero{
    position: relative;
    min-height: 120px;
    z-index: 1;
}

.hero .slider-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    padding-block-start: 100px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-3);
    z-index: 1;
}

.hero .slider-item.active{
    opacity: 1;
    visibility: visible;
}

.hero .slider-item.active .slider-bg{
    position: absolute;
}
.slider-bg{
    overflow: hidden;
}
.hero .slider-bg img {
    animation: sliderAnimate 7s linear forwards;
    height: 100vh;
    /* Certifique-se de usar o mesmo nome */
}

.wrapper-text{
    position: relative;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hero-title{
    color: var(--white);
    font-family: var(--fontFamily-forum);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-2);
    font-size: var(--fontSize-headline-2);
    margin-block-start: 30px;
}


.hero-btn{
    position: absolute;
    bottom: 15px;
    right: 0;
    z-index: 2;
    background-color: var(--gold-crayola);
    width: 115px;
    height: 115px;
    padding: 12px;
    transform: scale(0.6);
}

.hero-btn img{
    margin-inline: auto;
    margin-block-end: 6px;
}
.hero-btn span{
    color: var(--black);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-1);
    line-height: var(--lineHeight-3);
}


.has-before::before, 
.has-after::after{
    content: "";
    position: absolute;
}

.hero-btn::after{
    inset: 0;
    border: 1px solid var(--gold-crayola);
    animation: rotate360 15s linear infinite;
}

.slider-reveal{
    transform: translateY(30px);
    opacity: 0;
}
.hero .slider-item.active .slider-reveal{
    animation: sliderReveal 1s ease forwards;
}

.hero .slider-item.active .section-subtitle{
    animation-delay: 590ms;
}
.hero .slider-item.active .hero-title{
    animation-delay: 1000ms;
}
.hero .slider-item.active .hero-text{
    animation-delay: 1.5s;
}
.hero .slider-item.active .btn{
    animation-delay: 2s;
}

@keyframes sliderReveal{
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes sliderAnimate { /* Deve corresponder ao nome usado no CSS */
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}